.header{
   position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: var(--white-color);
    filter: drop-shadow(0 1px 4px rgba(70,75,80,.2));
    z-index: 9999;
}

.header__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
}


.header__img{
    width: 10%;
}

.header__logo{
    display: flex;
    align-items: center;
    width: 43%;
}

.logo_text__sub{
    padding-left: 12px;
    font-size: 1.8rem;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    padding: 0;
    display:flex;
    list-style: none;
    font-size: 1.4rem;
}

.list__item{
    padding: 0 10px;
    color: var(--text-color);
    
}

.list__item--chile{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0 10px;
    color: var(--text-color);
}

.menu__list:hover .list__item{
    cursor: pointer;
}

.menu__btn{
    padding: 2px 2px;
    font-size: 1.4rem;
}

.menu__btn:hover .btn{
    cursor: pointer;
}


/* search */

.search{
    margin-top: 60px;
    padding: 12px 0;
    box-shadow: 0 1px 4px rgb(70 75 80 / 20%);
}


.search_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-left{
    border: 1px solid #bdc3c7;
    font-size: 14px;
    padding: 10px;
    color: #3c4146;
    border-radius: 10px;
}


.search_input{
    position: relative;
}

.input__chile{
    background: #f0f2f5;
    width: 200%;
    height: 40px;
    padding: 9px 30px 9px 12px;
    border: none;
    border-radius: 4px;
    color: #3c4146;
    font-size: 15px;
    line-height: 24px;
    border-radius: 8px;
}

.search__icon{
    position: absolute;
    left: 394px;
    bottom: 12px;
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.search__icon-dow{
    padding-left: 18px;
}



/* content */


.content{
    background-color: #f0f2f5;
    padding-bottom: 24px;
   
}


.content__new{
    cursor: pointer;
    padding-bottom: 18px;
}


.content_left-body{
    margin-top: 24px;
}
.content__news-left{
    background-color: var(--white-color);
    width: 100%;
    height: 196px;
    border-radius: 12px;
}

.news-left__img{
    width: 88%;
    height: 72%;
    border-radius: 20px;
    padding: 12px;

}


.project-chile__text{
    display: flex;
    flex-direction: column;
}

.project-chile__title{
    margin: 8px 9px 0 9px;
    height: 23px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.project-chile__address{
    margin: 14px 0 0 9px;
    color: #657786;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16.1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-chile__pice{
    margin-top: 8px;
    padding: 0 9px;
    height: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #0499a8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.project-chile__text-btn{
    border: 1px solid #0499a8;
    border-radius: 10px;
    width: 25%;
    margin-top: 12px;
    margin-left: 12px;
}

.text-btn__buy{
    font-size: 14px;
    color: #0499a8;
    font-weight: 500;
    padding: 8px;
}

.content__heading {
    margin-top: 50px;
    margin-bottom: 24px;
}
.heading__text{
    font-size: 1.8rem;
    color: var(--back-color);
    font-weight: 500;
}



.content_body__right_one{
    margin-top: 24px;
    background-color: var(--white-color);
    border-radius: 10px;
    position: relative;
}

.body__right_one-heading{
    font-size: 16px;
    font-weight: 500;
    padding: 0 24px;
    position: absolute;
    top: 12px;
}

.one-item-icon{
    font-size: 14px;
    color: #0499a8;
    padding: 0 8px;
}

.body__right_one-list{
    list-style: none;
    padding: 40px 40px;
    
}

.body__right_one-item{
    font-size: 16px;
    line-height: 2.4;
    font-weight: 300;
}

.body__right_one-item:hover{
    color: #0499a8;
    cursor: pointer;
}



.content_botton{

}

.content_botton-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_botton-item{

    background-color:var(--white-color);
    padding: 8px 22px;
    font-size: 15px;
    border: 1px solid #bdc3c7;
    font-weight: 500;


}
.content_botton-item:hover{
    opacity: 0.6;
    cursor: pointer;
}

.select{
    background-color: #bdc3c7;
}

.content_botton-icon{
    font-size: 12px;
}

.content_end{
    margin-top: 48px;
    width: 100%;
    font-size: 14px;
    padding-top: 20px;
    line-height: 2.4rem;
}

.li-chile{
    padding: 4px;
    
}

.content_botton{
    margin-top: 60px;
}



.footer{
    
    background-color: #e9e9e9;
    padding: 44px 0;
}



.footer__left-logo{
    width: 18%;
}

.footer__left-phone{
    color: #3c4146;
    font-size: 1.4rem;
}

.footer__left-mail{
    color: #3c4146;
    font-size: 1.4rem;
    display: flex;
}



.footer__left-logo-chile__icon{
    font-size: 2.4rem;
    padding-right: 12px;
    cursor: pointer;
}

.footer__left-logo-chile__icon:hover{
    opacity: 0.6;
}

.cl__fb{
    color: #4267b2;
}

.cl__inta{
    color: #E95950;
}   

.cl__youtube{
    color: #EA4335;
}



.footer__left-logo__body{
    display: flex;
    align-items: center;
}

.footer__left-logo__sub{
    font-size: 1.6rem;
    padding-left: 8px;
}

.footer__right-heading{
    font-size: 1.8rem;
    font-weight: bold;
    display: block;
    margin-top: 7px;
}

.footer__right-list{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.4rem;
    font-weight: 400;
}

.footer__right-item{
    padding: 8px 0;
    color: var(--text-color);
}

.footer__right-list :hover.footer__right-item{
    cursor: pointer;
    color: #0499a8;
}



.content__utilities-body{
    position: relative;
    box-shadow: 0 2px 6px rgb(70 80 110 / 30%);
    border-radius: 8px;
    padding: 12px;
}

.content__utilities-img{
    width: 16%;
}

.content__utilities-text{
    margin-top: -12px;
    overflow: hidden;
    line-height: 21px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #3c4146;
    height: 42px;
    display: flex;
    align-items: flex-end;
}

.content__utilities-body :hover{
   
    z-index: 20;
    cursor: pointer;
}